# Database Configuration
DATABASE_URL=postgresql://neondb_owner:YOUR_PASSWORD@ep-bitter-shape-agj0nhdo-pooler.c-2.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
DB_NAME=neondb
DB_USER=neondb_owner
DB_PASSWORD=YOUR_PASSWORD
DB_HOST=ep-bitter-shape-agj0nhdo-pooler.c-2.eu-central-1.aws.neon.tech
DB_PORT=5432

# Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SENDER=your-email@gmail.com
EMAIL_PASSWORD=your-app-password
EMAIL_RECIPIENTS=recipient1@example.com,recipient2@example.com

# Django Settings
SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1
